- if !@ajax
  %form.well.form-search
    %input#search.input-large.search-query{type: 'text', placeholder: 'Search...', value: params[:q]}
    %a#clear-search.close &times;
#matches
  - if @tweets
    - @tweets.each do |tweet|
      %article.well
        %a.tweet{href: '#'}= tweet.body
        %a{href: '/?q=%23' + tweet.hash_tag.name, 'data-pjax' => '#content'}= '#' + tweet.hash_tag.name