%form.well.form-search
  %input.input-full.search-query{type: 'text', placeholder: 'Search...', value: params[:q]}
  %a#clear-search.close &times;
- if @tweets
  - @tweets.each do |tweet|
    %article.well
      = tweet.body
      %a{href: '#'}= '#' + tweet.hash_tag.name