= form_for Tweet.new, html: {'data-remote' => 'true'} do |f|
  = render partial: 'tweet_and_hash_tag_fields', locals: {f: f, tweet: nil}
  .form-actions
    = render partial: 'save_cancel_delete_buttons', locals: {tweet: nil, deletable: false}
  %footer
    %p#quote
- if !@pjax
  - content_for :page_specific_javascript do
    :javascript
      $(function() {
        getQuote();
      });