%textarea#tweet.input-full{rows: 4}
#char-count 1
.input-prepend
  %span.add-on #
  %input#hash-tag.span2{type: 'text'}
.form-actions
  %button.btn.btn-primary{type: 'submit'} Save tweet
  %button.btn Cancel