= form_for Tweet.new, html: {'data-remote' => 'true'} do |f|
  - if params[:reply_mode]
    = f.hidden_field :group, value: params[:tweet_id]
  = f.text_area :tweet, id: 'tweet', class: 'input-full', rows: 3
  #char-count 2
  .input-prepend
    %span.add-on #
    = f.text_field :hash_tag, id: 'hash-tag', autocomplete: 'off', 'data-provide' => 'typeahead', 'data-source' => hash_tags.to_s, 'data-items' => 3
  .form-actions
    %button.btn.btn-primary{type: 'submit', 'data-disable-with' => 'Saving...'} Save tweet
    %button.btn.cancel{type: 'button'} Cancel
  %footer
    %p#quote
- if !@pjax
  - content_for :page_specific_javascript do
    :javascript
      $(function() {
        getQuote();
      });