#gallery
  #slider.well
    %ul
      - @tweets.each do |tweet|
        %li{style: "display: #{tweet.id.to_s == params[:id] ? 'block' : 'none'};"}
          .vertical-align-container
            .vertical-align
              = render partial: 'tweet_and_hash_tag', locals: {tweet: tweet}
  %nav
    %ul#sequence
      - @tweets.each do |tweet|
        - if tweet.id.to_s == params[:id]
          %li.active &bull;
        - else
          %li &bull;
.form-actions
  / TODO .first is not right here
  %a.btn{href: tweet_reply_path(@tweets.first), 'data-pjax' => '#content'} Reply
  %a.btn{href: edit_tweet_path(@tweets.first), 'data-pjax' => '#content'} Edit
  %a.btn.btn-danger.pull-right{href: tweet_path(@tweets.first), 'data-pjax' => '#content', 'data-method' => 'delete', rel: 'nofollow'} Delete
  - content_for :page_specific_javascript do
    :javascript
      $(function() {
        var bullets = document.getElementById('sequence').getElementsByTagName('li');
        window.mySwipe = new Swipe(
          document.getElementById('slider'),
          {
            startSlide: "#{@tweets.first}",
            callback: function(e, pos) {
              var i = bullets.length;
              while (i--) {
                bullets[i].className = '';
              }
              bullets[pos].className = 'active';
            }
          }
        );
      });