#gallery
  #slider.well
    %ul
      - @tweets.each do |tweet|
        %li{style: "display: #{tweet.id.to_s == params[:id] ? 'block' : 'none'};", id: tweet.id}
          .vertical-align-container
            .vertical-align
              = render partial: 'tweet_and_hash_tag', locals: {tweet: tweet}
  %nav
    %ul#sequence
      - @tweets.each do |tweet|
        - if tweet.id.to_s == params[:id]
          %li.active &bull;
        - else
          %li &bull;
.form-actions
  / TODO .first is not right here
  %a#reply.btn{href: tweet_reply_path(@tweets[@start_index]), 'data-pjax' => '#content'} Reply
  %a#edit.btn{href: edit_tweet_path(@tweets[@start_index]), 'data-pjax' => '#content'} Edit
  %a#delete.btn.btn-danger.pull-right{href: tweet_path(@tweets[@start_index]), 'data-pjax' => '#content', 'data-method' => 'delete', rel: 'nofollow'} Delete
  - content_for :page_specific_javascript do
    :javascript
      $(function() {
        var slides = document.getElementById('slider').getElementsByTagName('li');
        var bullets = document.getElementById('sequence').getElementsByTagName('li');
        window.mySwipe = new Swipe(
          document.getElementById('slider'),
          {
            startSlide: #{@start_index},
            callback: function(e, pos) {
              var i = bullets.length;
              while (i--) {
                bullets[i].className = '';
              }
              bullets[pos].className = 'active';
              
              var id = slides[pos].id;
              document.getElementById('reply').href = '/tweets/' + id + '/reply'
              document.getElementById('edit').href = '/tweets/' + id + '/edit'
              document.getElementById('delete').href = '/tweets/' + id
            }
          }
        );
      });