/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

/*--------*/
/* Layout */
/*--------*/
body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}
li {
  display: inline-block;
  list-style-type: none;
}
/* Pattern for middle vertical alignment */
.vertical-align-container {
  display: table;
  height: 100%;
}
.vertical-align {
  display: table-cell;
  vertical-align: middle;
}

/*------------*/
/* Navigation */
/*------------*/
#custom-nav {
  margin: 0;
}
#custom-nav li:last-child {
  float: right;
}
#custom-nav a {
  font-weight: bold;
  margin: 3px 0 4px;
}

/*--------*/
/* Browse */
/*--------*/
#search {
  width: 208px;
}
article .date {
  float: right;
}
article {
  position: relative;
}
.swiped-container {
  background-color: #F5F5F5;
  display: none;
  height: 100%;
  padding: 0 10px;
  position: absolute;
  right: 0;
  top: 0;
  width: 106px;
}

/*-----------*/
/* New tweet */
/*-----------*/
#tweet {
  padding: 8px;
  margin-top: 8px;
}
#hash-tag {
  width: 210px;
}
#char-count {
  float: right;
  font-weight: bold;
  margin-top: 4px;
}

/*------------*/
/* Edit tweet */
/*------------*/
#clear-hash-tag {
  left: 261px;
  position: absolute;
}
#timestamp-container h4 {
  margin: 10px 0;
}
input[type=date] {
  margin-right: 4px;
  width: 120px;
}
input[type=time] {
  width: 93px;
}
@media only screen and (max-device-width: 480px) {
  input[type=date], input[type=time] {
    height: 30px;
  }
}

/*------------*/
/* Show tweet */
/*------------*/
#slider {
  height: 100px;
}
#slider li {
  display: none;
}
#slider li.active {
  display: block;
}
#sequence {
  font-size: 27px;
  margin: 16px 0 0 0;
  text-align: center;
}
#sequence li {
  color: #ccc;
}
#sequence li.active {
  color: #333;
}

/*--------*/
/* Footer */
/*--------*/
#quote {
  font-size: 14px;
}
#author {
  float: right;
  padding-right: 20px;
}