!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      %title TwitterClone
      %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0", :name => "viewport"}/
      = csrf_meta_tags
      = stylesheet_link_tag "application", :media => "all"
      %link{:href => "images/favicon.ico", :rel => "shortcut icon"}
      %link{:href => "images/apple-touch-icon.png", :rel => "apple-touch-icon"}
      %link{:href => "images/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}
      %link{:href => "images/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %ul#custom-nav
            %li
              %button.btn.btn-inverse Home
            %li
              %button.btn.btn-inverse Add new
            %li
              %button.btn.btn-inverse Log out
    .container-fluid
      .row-fluid
        .span3
          = yield
      %footer
        %p © Company 2012
    = javascript_include_tag "application"