!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      %title TwitterClone
      %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0", :name => "viewport"}/
      = csrf_meta_tags
      = stylesheet_link_tag "application", :media => "all"
      / %link{:href => "images/favicon.ico", :rel => "shortcut icon"}
      / %link{:href => "images/apple-touch-icon.png", :rel => "apple-touch-icon"}
      / %link{:href => "images/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}
      / %link{:href => "images/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %ul#custom-nav
            %li
              %a#home.btn.btn-inverse{href: '/', 'data-pjax' => '#content'} Home
            %li
              %a#add-new.btn.btn-inverse{href: '/new', 'data-pjax' => '#content'} Add new
            %li
              %a#log-out.btn.btn-inverse Log out
    .container-fluid
      .row-fluid
        #content.span5
          = yield
    = javascript_include_tag "application"